{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Network Slice</title>
</head>

<body>
  <header>
    <img src="{% static '/img/logo.png' %}" alt="Logo do site">
    <h1>View Network Slice Data</h1>
  </header>
  <nav>


    <div class="zoon-level">
      <div class="level-num">200%</div>
      <img src="{% static '/img/more-than.png' %}" alt="nivel do zoon">
    </div>

    <div class="magnifying-glass">
      <img src="{% static '/img/zoom-in.png' %}" alt="Zoon in">
      <img src="{% static '/img/zoom-out.png' %}" alt="Zoon out">
    </div>

    <div class="undo-redo">
      <img src="{% static '/img/undo.png' %}" alt="Undo">
      <img src="{% static '/img/redo.png' %}" alt="Redo">
    </div>

    <div class="trash">
      <img src="{% static '/img/delete-bin.png' %}" alt="Trash">
    </div>

    <div class="flip">
      <img src="{% static '/img/bring-to-front.png' %}" alt="flip-to-front">
      <img src="{% static '/img/send-to-back.png' %}" alt="flip-to-back">
    </div>

    <div class="hand">
      <img src="{% static '/img/hand.png' %}" alt="Hand">
    </div>

    <div class="arrow">
      <img src="{% static '/img/right-arrow.png' %}" alt="Arrow-right">
    </div>

    <div class="actions">
      <img src="{% static '/img/save-close.png' %}" alt="Save">
      <img  src="{% static '/img/powershell.png' %}" alt="Execute">
    </div>

  </nav>

  <section class="network-slice">
    <div class="graph">
      <img src="{% static '/img/grafo.jpg' %}" alt="Grafo">
      <img class='expand' src="{% static '/img/expand.png' %}" alt="Expand">
      <!-- <img src="{% static '/img/' %}" alt="Full Screan"> -->
    </div>

    <div class="aside">
      <header>
        <strong>Requests</strong>
      </header>
      <div class="components">
        <div class="component">
          <div class="title">Component</div>
          <ul>
            <li>opc</li>
            <li>opc</li>
            <li>opc</li>
            <li>opc</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</body>

</html>